/* Active Menu */
.active {
    background: rgb(117 117 117);
    color: #fff;
}
.active svg {
    color: #fff;
}
/* End-Active Menu */

/* Main Container */
.main-container {
    position: fixed;
    top: 0;
    left: 16rem;
    width: calc(100% - 16rem);
}
a.inline-flex.items-center.px-1.pt-1.border-b-2.border-transparent.text-sm.font-medium.leading-5.text-gray-500.hover\:text-gray-700.hover\:border-gray-300.focus\:outline-none.focus\:text-gray-700.focus\:border-gray-300.transition.duration-150.ease-in-out.flex.items-center.p-2.text-base.font-normal.text-gray-900.rounded-lg.dark\:text-white.hover\:bg-gray-100.dark\:hover\:bg-gray-700.group {
    width: 230px;
}
a.inline-flex.items-center.px-1.pt-1.border-b-2.border-indigo-400.text-sm.font-medium.leading-5.text-gray-900.focus\:outline-none.focus\:border-indigo-700.transition.duration-150.ease-in-out.active.flex.items-center.p-2.text-base.font-normal.text-gray-900.rounded-lg.dark\:text-white.hover\:bg-gray-100.dark\:hover\:bg-gray-700.group {
    width: 230px;
}
/* End-Main Container */
